@font-face {
  font-family: "tommy-regular";
  src: url(/assets/fonts/MADE\ TOMMY\ Regular_PERSONAL\ USE.otf);
}
@font-face {
  font-family: "tommy-bold";
  src: url(/assets/fonts/MADE\ TOMMY\ Bold_PERSONAL\ USE.otf);
}
@font-face {
  font-family: "tommy-black";
  src: url(/assets/fonts/MADE\ TOMMY\ Black_PERSONAL\ USE.otf);
}

a:visited,
a:link,
p {
  font-family: "tommy-regular";
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.row {
  max-width: 100%;
  --bs-gutter-x: 0;
}

h2 {
  font-size: 5.5em;
  font-family: "tommy-black";
}

:root {
  --primary: #f96d00;
  --primaryDarker: #e46402;
  --secondary: #084260;
  --tertiary: #86b13e;
  --tertiaryDarker: #789e36;
  --gray: #7c7b7b;
  --darkGray: #535353;
  --lightGray: #eeedee;
  --labels: #949494;
  --offWhite: #f9f9f9;
  --whatsappGreen: #51cd5d;
}

img {
  max-width: 100%;
  height: auto;
}
nav {
  box-shadow: 0px 1px 10px #00000071;
}

footer:not(.testimonial-author) {
  background: #084260;
}
.round-btn {
  border-radius: 10rem;
}

.navbar-brand {
  /* padding-bottom: 1rem; */
  width: 7%;
}

nav li {
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.nav-link:link,
.nav-link:visited {
  color: var(--gray);
  margin: 0 2rem;
  position: relative;
  padding-bottom: 2rem;
  font-size: 1.1em;
}

.nav-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 7px;
  background-color: var(--primary);
  bottom: 0;
  left: 0;
  opacity: 0;
  border-top-right-radius: 0.2rem;
  border-top-left-radius: 0.2rem;
  display: block;
  transition: opacity 0.3s ease;
}

.nav-link:hover::before {
  opacity: 1;
}

.nav-link.active:before {
  opacity: 1;
}

.navbar {
  display: flex;
  flex-direction: column;
}

.navbar-nav {
  height: 100%;
}
.contact-btn:link,
.contact-btn:visited {
  background-color: var(--secondary);
  padding: 0.2rem 1rem;
  text-decoration: none;
  color: var(--offWhite);
}

.floating-ws {
  background: var(--whatsappGreen);
  width: 5rem;
  height: 5rem;
  display: block;
  padding: 0.8rem;
  position: fixed;
  bottom: 3%;
  right: 2%;
  z-index: 2;
}

.floating-ws img {
  width: 100%;
}
.header-index {
  background: url("/assets/img/BANNER-INICIO-WEB-MARIBEL.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--offWhite);
}

.header-index .row {
  padding: 8rem 0;
}

.header-index h1 {
  font-family: "tommy-bold";
  font-size: 3.9em;
}

.header-index p {
  font-size: 2.3em;
}

.book-now-btn:link,
.book-now-btn:visited {
  color: var(--offWhite);
  text-decoration: none;
  padding: 0.6rem 1.5rem;
  background: var(--tertiary);
  font-size: 1.2em;
  transition: background 0.1s ease-in-out;
}

.book-now-btn:hover {
  background: var(--tertiaryDarker);
}
.section-message {
  background: url("/assets/img/FONDO-FOTO-MARIBEL.jpg");
  background-position: 0% 0%;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 7rem 0;
}

.message-container {
  padding-left: 4rem;
}
.section-message p {
  font-family: "tommy-bold";
}

.section-message p:first-of-type {
  color: var(--secondary);
  font-size: 2.8em;
  line-height: 4.5rem;
}

.section-message p:first-of-type span {
  font-size: 1.8em;
  color: var(--tertiary);
}

.section-message p:nth-of-type(2) {
  color: var(--darkGray);
  font-size: 1.9em;
  line-height: 1.8rem;
}

.section-message p:nth-of-type(2) span {
  color: var(--primary);
}

.section-message p:nth-of-type(3) {
  color: var(--primary);
  font-size: 1.3em;
}

.text-me-btn:link,
.text-me-btn:visited {
  background: var(--whatsappGreen);
  text-decoration: none;
  color: var(--offWhite);
  padding: 0.3rem 1rem;
  align-self: flex-end;
  margin: 1.5rem 7rem 0 0;
  width: 19%;
  margin: 0 5rem 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.text-me-btn img {
  width: 15%;
  margin-right: 0.2rem;
}

.section-quotation {
  padding-bottom: 7rem;
}

#card-carousel,
#card-carousel-track {
  width: 85%;
  margin: 0 auto;
}
#card-carousel-list li {
  padding: 0 1rem;
}

#card-carousel .splide__pagination {
  bottom: 0;
  padding: 2rem 0 0 0;
  position: relative;
}
.splide__pagination__page.is-active {
  background: #3d3d3d;
}
.quotation-img-container svg {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
}
.section-quotation h2 {
  color: var(--primary);
  padding-top: 4rem;
}

.section-quotation h3 {
  color: var(--secondary);
  font-family: "tommy-bold";
  font-size: 3em;
  text-align: center;
}

.section-perks {
  background: var(--secondary);
  padding: 7rem 0;
}

.section-perks h2 {
  color: var(--offWhite);
  background: var(--tertiary);
  text-align: center;
  padding: 0.3rem 5rem;
}

.section-perks img {
  width: 50%;
}

.section-perks p {
  font-family: "tommy-regular";
  color: var(--offWhite);
  font-size: 2em;
  width: 80%;
  margin: 0 auto;
  line-height: 2rem;
}

.section-perks p.perks-message {
  font-family: "tommy-bold";
  color: var(--offWhite);
  font-size: 3em;
  line-height: inherit;
  width: 100%;
  text-align: center;
}

.section-testimonial {
  background: url("/assets/img/FONDO-SECCIÓN-TESTIMONIOS.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 4rem 0 2rem 0;
}
.section-testimonial h2 {
  color: var(--offWhite);
}

.testimonial-bubble {
  background: var(--offWhite);
  border-radius: 2.5rem;
  padding: 2rem;
  color: var(--darkGray);
  font-size: 1.3em;
}

.testimonial-bubble::after {
  content: "";
  display: block;
  position: absolute;
  background: transparent;
  width: 5rem;
  height: 5rem;
  bottom: 1%;
  right: 93%;
  border-radius: 50%;
  box-shadow: inset -34px -19px 0px -10px var(--offWhite);
  z-index: 9999999;
}

.testimonial-bubble img {
  position: absolute;
  bottom: 8%;
  right: 5%;
  width: 30%;
}

.testimonial-author {
  font-family: "tommy-bold";
  color: var(--secondary);
  text-align: center;
  font-size: 4em;
}

.testimonial-link {
  width: 5%;
}
.section-products {
  padding: 4rem 0;
}
.section-products h2 {
  color: var(--primary);
  text-align: center;
}
.product {
  margin-top: 3rem;
}
.product div {
  border: 2px solid var(--tertiary);
  border-radius: 3rem;
  text-align: center;
  margin-bottom: 1rem;
}

.product svg {
  width: 70%;
  padding: 2rem 0;
}

.product a:link,
.product a:visited {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  color: var(--tertiary);
  font-family: "tommy-bold";
  font-size: 2em;
  line-height: 2rem;
  text-align: center;
}

.product div,
.product a {
  transition: 0.2s ease-in;
}

.product path {
  transition: 0.1s ease-in;
  fill: var(--tertiary);
}
.product:hover path {
  fill: var(--offWhite);
}

.product:hover div {
  border-color: #083c55;
  background-color: #074b6b;
  background-image: linear-gradient(160deg, #074b6b 0%, #083c55 100%);
}

.product:hover a {
  color: #083c55;
}

.section-newsletter {
  background: var(--primary);
  padding: 4rem 0;
}

.form-container {
  background: var(--offWhite);
  padding: 2rem;
  border-radius: 1.5rem;
}

.form-container {
  box-shadow: 4px 4px 7px rgba(80, 80, 80, 0.493);
}

.newsletter-form input {
  font-family: "tommy-regular";
  font-size: 0.9em;
}

.newsletter-form label {
  font-family: "tommy-bold";
  color: var(--gray);
  font-size: 1.3em;
}

.newsletter-form h2 {
  color: var(--secondary);
  font-size: 3.5em;
  text-transform: uppercase;
  margin-bottom: 0;
}

.newsletter-form input {
  border-radius: 10rem;
  border: 2px solid #c2c2c2;
  background: var(--lightGray);
  margin-top: 1rem;
  padding: 0.5rem 1rem;
}

.newsletter-icon-container {
  background: var(--tertiary);
  height: 100%;
  padding: 5rem 2rem;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}

.mce_inline_error {
  font-family: "tommy-regular";
  color: rgb(216, 63, 63);
}

.form-data-container {
  padding: 3rem 0;
}

.form-data-container p {
  color: var(--gray);
  font-size: 1.3em;
  line-height: 1.5rem;
  width: 70%;
  margin: 0 auto;
  text-transform: uppercase;
}

.indicates-required {
  font-family: "tommy-regular";
  color: rgb(216, 63, 63);
  margin-top: 0.5rem;
}

.form-data-container p.form-disclaimer {
  color: #a9a9a9;
  line-height: 1rem;
  font-size: 0.7em;
  margin-top: 1rem;
}

.form-data-container input[type="submit"] {
  color: var(--offWhite);
  background: var(--secondary);
  border: none;
  font-family: "tommy-bold";
  font-size: 1.4em;
  padding: 0.3rem 2rem;
}

.response {
  font-family: "tommy-regular";
  margin-top: 0.5rem;
}

.response.error {
  color: rgb(216, 63, 63);
}
.site-footer {
  color: var(--offWhite);
  text-decoration: none;
  padding: 1rem 0 1rem 0;
}
.site-footer ul {
  list-style-type: none;
  padding: 0;
}

.site-footer ul li {
  margin: 0.5rem 0;
}
.site-footer a:link,
.site-footer a:visited {
  color: var(--offWhite);
  text-decoration: none;
}

.site-footer a.active {
  font-family: "tommy-bold";
}

.site-footer img {
  width: 45%;
}

.footer-message {
  font-size: 1.4em;
  line-height: 1.8rem;
  margin-top: 2rem;
  font-family: "tommy-bold";
}

.footer-mdn a:link,
.footer-mdn a:visited {
  text-decoration: underline;
}

.site-footer h3 {
  font-family: "tommy-bold";
}
.footer-socials li {
  flex-basis: 1;
}
.footer-socials li a img {
  width: 100%;
}
/* --------------
QUOTATION PAGE 
----------------*/
.section-quotation .modal-dialog {
  max-width: 60%;
}

.modal-confirmation .modal-header {
  background-color: var(--primary);
  color: var(--offWhite);
  font-family: "tommy-bold";
}

.modal-confirmation .modal-body {
  padding-bottom: 0;
  color: var(--darkGray);
}
.modal-confirmation .modal-footer {
  border-top: none;
}

.modal-confirmation .modal-footer button {
  background-color: var(--primary);
  border: none;
  font-family: "tommy-bold";
  color: var(--offWhite);
}

.modal-confirmation .modal-footer button:hover {
  background-color: var(--primaryDarker);
}

.modal-product {
  padding-top: 2rem;
}

.modal-product .modal-dialog {
  max-width: 60%;
  width: 100%;
  margin: 0 auto;
}

.modal-product .modal-content {
  border-top-right-radius: 1.2rem;
  border-top-left-radius: 1.2rem;
}
.modal-product .modal-header {
  background: var(--primary);
  padding: 0.5rem 1rem;
  border-top-right-radius: 1.2rem;
  border-top-left-radius: 1.2rem;
}
.modal-product .modal-header img {
  width: 11%;
}
.modal-product .modal-title {
  font-family: "tommy-bold";
  color: var(--offWhite);
  font-size: 4em;
}

.modal-product .modal-content-title {
  color: var(--secondary);
  font-family: "tommy-bold";
  font-size: 2em;
}

.modal-product .modal-content-title.green {
  color: var(--tertiary);
}

.modal-product .indicates-required {
  font-family: "tommy-bold";
  line-height: 1.2rem;
}

.indicates-required a:link,
.indicates-required a:visited {
  color: inherit;
  font-family: "tommy-bold";
}

.selected {
  border-radius: 3rem;
  border: 2px solid #b3b3b3;
  padding: 0.1rem 0.5rem;
  cursor: pointer;
  position: relative;
  z-index: 2;
  font-family: "tommy-bold";
  color: var(--darkGray);
  background-color: #fff;
}

.selected.active {
  z-index: 4;
}

.options-container {
  border-bottom: 2px solid #b3b3b3;
  border-left: 2px solid #b3b3b3;
  border-right: 2px solid #b3b3b3;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: rgb(255, 255, 255);
  color: var(--darkGray);
  width: 100%;
  transition: all 0.3s;
  overflow: hidden;
  max-height: 0;
  order: 1;
  position: absolute;
  top: 60%;
  opacity: 0;
}

.options-container.active {
  max-height: 150px;
  opacity: 1;
  overflow-y: scroll;
  z-index: 3;
}

.option,
.selected {
  cursor: pointer;
}

.select-label {
  font-family: "tommy-bold";
  color: var(--secondary);
}

.modal-group .option label {
  cursor: pointer;
  padding: 0.5rem 1rem;
}

.modal-group .options-container .option:first-child {
  padding-top: 1rem;
}
.modal-group .options-container .option:last-child {
  padding-bottom: 0.5rem;
}

.modal-group .option:hover {
  background-color: rgba(164, 164, 164, 0.101);
}

.modal-group .option .radio {
  display: none;
}

.modal-product input[type="date"],
.modal-product input[type="text"],
.modal-product input[type="email"] {
  border-radius: 3rem;
  border: 2px solid #b3b3b3;
  padding: 0.1rem 0.5rem;
  width: 100%;
}

.modal-product .btn-footer {
  background: var(--tertiary);
  border: none;
  border-radius: 3rem;
  font-family: "tommy-bold";
  color: var(--offWhite);
}

.modal-product .btn-footer:hover {
  background: var(--tertiaryDarker);
}

.duration-container label {
  margin-right: 0.7rem;
  font-family: "tommy-bold";
  color: var(--secondary);
}

.quotation-item button {
  background: var(--primary);
  font-family: "tommy-bold";
  border: none;
  margin-top: 1rem;
}
/* -------------
MEDIA QUERIES
--------------- */

@media screen and (max-width: 1400px) {
  .nav-link:link,
  .nav-link:visited {
    padding-bottom: 1.6rem;
  }
  .header-index {
    background: url("/assets/img/BANNER-INICIO-SM.jpg");
    background-position: 0;
  }

  .header-index h1 {
    font-size: 3.5em;
    line-height: 3.7rem;
  }

  .section-message {
    background: url("/assets/img/FONDO-FOTO-MARIBEL-SM.jpg");
    background-position: 100%;
  }

  .message-container {
    padding-left: 2rem;
  }
  .text-me-btn:link,
  .text-me-btn:visited {
    margin: 0;
  }
  .section-perks p {
    font-size: 1.6em;
  }

  .footer-message {
    font-size: 1.5em;
    line-height: 1.8rem;
  }
}

@media screen and (max-width: 1024px) {
  .navbar-brand {
    width: 20%;
  }

  .navbar-nav {
    height: auto !important;
  }

  .navbar-toggler {
    height: 50%;
    margin: auto 0;
  }

  .nav-link:link,
  .nav-link:visited {
    padding-bottom: 0.3rem;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .nav-link:before {
    border-radius: 3rem;
    height: 5px;
  }

  .navbar-collapse {
    text-align: center;
    padding-bottom: 1rem;
  }

  .header-index {
    background-position: 15%;
  }

  .header-index p {
    padding-bottom: 2rem;
  }

  .section-message {
    background-position: 100%;
  }

  .message-container {
    padding-left: 0;
    text-align: center;
  }

  .text-me-btn:visited,
  .text-me-btn:link {
    margin: 1rem auto 0 auto;
    align-self: center;
    width: 50%;
  }

  .section-message p:first-of-type {
    font-size: 2.7em;
    line-height: 2.5rem;
  }

  .section-message p:first-of-type span {
    display: block;
    line-height: 5rem;
  }

  .section-message p:nth-of-type(3) {
    line-height: 1.5rem;
  }
  .testimonial-bubble::after {
    z-index: 0;
  }
  .testimonial-bubble p {
    position: relative;
    z-index: 2;
  }

  .testimonial-link {
    width: 8%;
  }

  .product svg {
    width: 60%;
  }

  .product div {
    width: 60%;
  }

  .section-newsletter {
    padding: 4rem 2rem;
  }

  .footer-message {
    text-align: center;
  }

  .site-footer ul {
    margin: 2rem 0;
    /* list-style-type: "-"; */
    /* text-align: center; */
    /* padding-left: 0; */
  }

  .links-row {
    text-align: center;
  }
  .site-footer ul li {
    /* padding-left: 1em; */
    font-size: 1.1em;
    line-height: 1.2rem;
    margin: 1.5rem 0;
  }

  .site-footer h3 {
    text-align: center;
  }

  .footer-socials li a img {
    width: 50%;
  }

  .footer-socials li {
    text-align: center;
  }

  .site-footer img {
    width: 35%;
  }

  /* QUOTATTION PAGE */
  .modal-product .modal-dialog {
    max-width: 90%;
  }

  .modal-product .modal-title {
    font-size: 3em;
    margin-right: 0.5rem;
  }

  .modal-product .modal-header img {
    width: 15%;
  }

  .modal-product .modal-content-title {
    font-size: 1.5em;
  }

  .modal-body p {
    margin-bottom: 0;
  }
  .modal-group {
    margin: 0.5rem 0;
  }
  .modal-group p {
    font-size: 0.95em;
  }

  .modal-group label {
    font-size: 0.8em;
  }

  .modal-product .select-label {
    font-size: 1.2em;
  }

  .modal-product .row > div {
    margin: 0.5rem 0;
  }

  .modal-product .form-input[type="date"] {
    text-align: start;
    color: var(--darkGray);
    font-family: "tommy-bold";
    width: 100%;
    background: transparent;
    max-width: 100%;
    -webkit-appearance: textfield;
    height: 1.9rem;
  }
}
@media screen and (max-width: 480px) {
  .floating-ws {
    width: 3.5rem;

    height: 3.5rem;
    padding: 0.6rem;
  }
  .navbar-brand {
    width: 30%;
  }

  .contact-btn {
    font-size: 1.2em;
  }

  .header-index {
    background-position: 40%;
  }

  .header-index h1 {
    text-align: center;
    font-size: 2.3em;
    line-height: 2.5rem;
    margin-bottom: 1rem;
  }

  .header-index h1 span {
    font-size: 1em;
  }

  .header-index p {
    text-align: center;
    font-size: 1.5em;
    line-height: 1.5rem;
  }

  .book-now-btn:link,
  .book-now-btn:visited {
    display: block;
    margin: 0 auto;
    width: fit-content;
    margin-top: 2rem;
  }

  .section-message {
    padding: 5rem 0;
  }

  .section-message p:first-of-type {
    font-size: 2.3em;
  }

  .section-message p:first-of-type span {
    line-height: 3.7rem;
  }

  .section-message p:nth-of-type(3) {
    line-height: 1.5rem;
  }

  h2 {
    font-size: 2.8em;
  }

  #card-carousel {
    width: 100%;
  }

  #card-carousel-track {
    width: 75%;
  }

  .section-perks {
    padding: 4rem 0;
  }

  .section-perks h2 {
    padding: 0.3rem 2rem;
  }
  .section-perks p.perks-message {
    font-size: 1.7em;
    line-height: 1.7rem;
  }
  .perk {
    margin: 0.5rem 0;
  }

  .testimonial-bubble {
    font-size: 1em;
  }

  .testimonial-bubble p {
    position: relative;
    z-index: 2;
  }
  .testimonial-bubble::after {
    right: 87%;
    z-index: 0;
  }

  .testimonial-author {
    font-size: 2.5em;
    margin-bottom: 2rem;
  }

  .testimonial-link {
    width: 18%;
  }

  .product svg {
    width: 70%;
  }

  .product div {
    width: 80%;
  }

  .newsletter-icon-container {
    display: none;
  }

  .section-newsletter {
    padding: 4rem 1rem;
  }

  .newsletter-form {
    font-size: 0.8em;
  }

  .mc-field-group {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0.5rem auto;
  }

  .newsletter-form input {
    margin-top: 0.2rem;
  }

  .newsletter-form input[type="submit"] {
    margin-top: 1rem;
  }

  .modal-confirmation .modal-title {
    font-size: 1.5em;
    line-height: 1.5rem;
    text-align: center;
  }
}

@media screen and (min-width: 2000px) {
  .floating-ws {
    width: 8rem;
    height: 8rem;
    padding: 1.2rem;
  }
  .nav-link:link,
  .nav-link:visited {
    font-size: 1.6em;
  }

  .book-now-btn:link,
  .book-now-btn:visited {
    font-size: 2em;
  }
  .header-index h1 {
    font-size: 5em;
  }
  .header-index .row {
    padding: 15rem 0;
  }
  .header-index h1 span {
    display: block;
  }

  .section-message p:first-of-type {
    font-size: 3.5em;
  }
  .section-message p:nth-of-type(2) {
    font-size: 2.5em;
    line-height: 2.5rem;
  }
  .section-message p:nth-of-type(3) {
    font-size: 1.8em;
  }

  .text-me-btn:visited,
  .text-me-btn:link {
    margin: 3rem 20rem 0 auto;
    align-self: center;
    width: 18%;
    font-size: 1.8em;
  }

  .newsletter-icon-container img {
    width: 70%;
  }

  .testimonial-bubble p {
    font-size: 1.2em;
    padding-bottom: 3rem !important;
  }
}
